<div id="app">
  <section class="section">
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
          <div class="card card-primary">
            <div class="card-body">              
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "needs-validation"}) do |f| %>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input id="username" type="text" class="form-control" name="user[username]" tabindex="1" required autofocus>
                  <div class="invalid-feedback">
                    Please fill in your username
                  </div>
                </div>
                <div class="form-group">
                  <label for="password" class="control-label">Password</label>
                  <input id="password" type="password" class="form-control" name="user[password]" tabindex="2" required>
                  <div class="invalid-feedback">
                    Please fill in your password
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                    Login
                  </button>
                </div>
              <% end %>
            </div>
          </div>
          <div class="mt-5 text-muted text-center">
            POS © 2024
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
