<section class="section">
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</section>
