<section class="section">
  <div class="section-body">
    <%= form_for @order_header, html: { class: "needs-validation", novalidate: "" } do |f| %>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <%= render 'form', f: f %>
          </div>
        </div>
      </div>
      <%= render 'form_detail_new' %>
      <div class="text-right">
        <%= link_to "Back", order_headers_path, class: "btn btn-secondary" %>
        <button class="btn btn-primary submitForm" type="submit">Submit</button>
      </div>
    <% end %>
  </div>
</section>

<script src="/assets/order_headers.js"></script>
